*.xml
datasets/
day5/YOLOModel/yolov3.tf.data-00000-of-00001
day5/YOLOModel/yolov3.tf.data-00000-of-00002
day5/YOLOModel/yolov3.tf.data-00001-of-00002
day5/YOLOModel/yolov3.tf.index
day5/YOLOModel/yolov3.weights
day5/YOLOModel/dog_example.jpg
day5/YOLOModel/dog.1503.jpg
day5/YOLOModel/__pycache__/models.cpython-37.pyc
day5/YOLOModel/__pycache__/utils.cpython-37.pyc
day5/YOLOModel/sample3.jpg
day5/YOLOModel/coco.names
day5/YOLOModel/checkpoint
assignment/model/day5.h5
assignment/model/cifar10-mlp-weight.h5
assignment/model/cifar10-cnn-weight.h5
assignment/day5.h5
.idea/Learning_cnn.iml
